.container
  .row
    .col-sm-12
      %hr
    .col-xs-4.col-sm-2
      %a{:class => "footer__social instagram", :href => "https://instagram.com/hayleylaurendesign/"}
        %i{:class => "fa fa-instagram fa-2x"}
    .col-xs-4.col-sm-2
      %a{:class => "footer__social facebook", :href => "https://www.facebook.com/Hayleylaurendesign"}
        %i{:class => "fa fa-facebook fa-2x"}
    .col-xs-4.col-sm-2.col-md-2
      %a{:class => "footer__social mail", :href => "mailto:m.blode@gmail.com"}
        %i{:class => "fa fa-envelope-o fa-2x"}
    .col-xs-12.col-sm-6
      %p{:class => "footer__text text-center"} &copy; 2015 Hayley Lauren  &middot; All Rights Reserved
