.col-sm-12
  .gallery
    .gallery-cell
      %img{ :src => "http://i.imgur.com/rUtoJdl.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/dA7PbVQ.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/9L1rkrL.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/zgad3B1.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/mBYqzNj.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/SCp8VcP.jpg", :alt => "Hayley Lauren" }
