.col-sm-12
  .gallery
    .gallery-cell
      %img{ :src => "http://i.imgur.com/Ogn7oef.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/k9iWyYP.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/HMcIxcL.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/O9BXWKN.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/fDqKR9J.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/w2byhcK.jpg", :alt => "Hayley Lauren" }
