.col-sm-12
  .gallery
    .gallery-cell
      %img{ :src => "http://i.imgur.com/0pORjWv.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/4UEtaC3.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/rleT9uX.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/bY5LfkG.jpg", :alt => "Hayley Lauren" }
    .gallery-cell
      %img{ :src => "http://i.imgur.com/61EwzKI.jpg", :alt => "Hayley Lauren" }
