.gallery-cell {
  height: 400px;

  img {
    height: 100%;
  }
}

.flickity-prev-next-button {
  background: color(white);
  box-shadow: $bs-1;
  transition: $trans;

  .no-svg {
    color: color(black, normal, .54);
    transition: $trans;
  }

  .arrow {
    fill: color(black, normal, .54);
    transition: $trans;
  }

  &:hover {
    background: color(blue, 300);

    .no-svg {
      color: color(white);
    }

    .arrow {
      fill: color(white);
    }
  }

  &:active {
    background: color(blue, 300);
    border-color: color(white);

    .no-svg {
      color: color(white);
    }

    .arrow {
      fill: color(white);
    }
  }
}

.flickity-prev-next-button:active {
  opacity: 1;
}

.flickity-page-dots {
  bottom: 12px;

  .dot {
    background: color(white);
    border: 2px solid white;
    box-shadow: $bs-1;
    height: 14px;
    opacity: 1;
    transition: $trans;
    width: 14px;

    &.is-selected {
      background: color(pink, A100);
    }

    &:hover {
      background: color(blue, 300);
    }

    &:active {
      background: color(blue, 300);
    }
  }
}
