$trans-speed: .3s;
$trans: all $trans-speed ease;

$border-radius: 5px;
$border-width: 2px;

$xs-pad: 10px;
$sm-pad: 15px;
$md-pad: 30px;
$lg-pad: 50px;
$xl-pad: 100px;

$font-size: 18px;

$bs-1: 0 3px 6px rgba(0, 0, 0, .16), 0 4px 8px rgba(0, 0, 0, .12);
