---
title: About
pageable: true
per_page: 10
---

.about
  .col-sm-12
    .about__text
      %h1{:class => "about__title"} About Me
  .col-md-9.col-sm-8
    %p{:class => "about__sub"} Health goth heirloom fixie small batch Shoreditch, photo booth cornhole scenester literally swag High Life. Austin vinyl health goth forage semiotics, cold-pressed selvage sustainable messenger bag next level ethical letterpress Brooklyn Echo Park. <br /> <br /> Meditation brunch skateboard, swag tilde Williamsburg paleo Etsy leggings four dollar toast. Listicle chillwave mlkshk Pinterest banjo blog. Gentrify plaid Tumblr brunch chambray, selvage Godard dreamcatcher scenester Echo Park 3 wolf moon pickled.
  .col-md-3.col-sm-4.col-xs-12
    %img{ :src => "http://i.imgur.com/IBiefW6.jpg", :alt => "Hayley Lauren", :class => "img-responsive" }
.col-xs-12
  %p
