---
title: About
---

.about
  .col-sm-12
    .about__text
      %h1{:class => "about__title"} About Hayley Lauren
  .col-md-9.col-sm-8
    %p{:class => "about__sub"} Hayley Lauren is a textile designer and artist based in Melbourne, Australia. She is in her final year of Bachelor of Arts (Textile Design) at RMIT University majoring in constructed textiles. <br><br> Hayley’s art and designs come in a variety of styles and mediums. From watercolour to organic line work, to stencils cuts and detailed wildlife drawings. Her free flowing designs are a creative expression and insight into the way she sees the world. “For me, it’s about being free and having fun with art.” <br><br> Hayley has collaborated with companies such as Uppercup, Soxy Beast and Borne Bespoke. Projects have included patterned reusable coffee cups, knitted sock designs and fabric designs for pocket tees. <br><br> Hayley is constantly creating and on the lookout for collaborations and new projects.
  .col-md-3.col-sm-4.col-xs-12
    %img{ :src => "http://i.imgur.com/Fiuv2gy.jpg", :alt => "Hayley Lauren", :class => "img-responsive" }
.col-xs-12
  %p
